.cover{
    height: 100%;
	background: linear-gradient(180deg, #186DFF 7.29%, rgba(175, 193, 255, 0.51) 100%);
	padding-top: 5px;
	padding-bottom: 5%;
}


.container-cover {
	display: grid;
	grid-gap: 0px;
    height: 100%;
	width: 100%;
	max-width: 1195px;
	margin: 0 auto;
	box-sizing: border-box; 
	padding: 40px;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
	display: grid;
	grid-gap: 0px;
    grid-template-columns:repeat(auto-fill, minmax(537.5px,1fr));
    justify-content: center;;
	width: 100%;
	max-width: 1195px;
	margin: 0 auto;
	box-sizing: border-box; 
}

@media screen and (max-width: 537.5px) {
	.container {
		display: grid;
		grid-gap: 0px;
		grid-template-columns:1fr;
		justify-content: center;;
		width: 100%;
		max-width: 1195px;
		margin: 0 auto;
		box-sizing: border-box; 
	}
}
 
.container--header {
	margin: 60px auto 36px auto;
	padding-left:20px;
}
.container--image {
	margin: 24px 0;
}



/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
display: inline-block;
width: 1fr;
background-color: white;
vertical-align: top;
text-align: left;
height: 600px;
padding: 20px;
margin:20px;
box-shadow: 0 20px 20px rgba(0,0,0,.08);
border-radius: 10px;
overflow-y: scroll;
white-space: normal;
-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.card {
    -ms-overflow-style: none;
}


.fakeimg {
  background-color: #aaa;
  width: 1fr;
  margin-bottom: 10px
;
}

.card-title {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: 800;
	line-height: 40px;
	margin-bottom: 12px;
	color: #344854;
}


/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav-bar {
	display: inline-block;
	width: 1fr;
	vertical-align: top;
	text-align: left;
	height: 60px;
	padding: 20px;
	margin:20px;
	white-space: normal;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.icon-openpr {
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}